@import "../ad_side_2.css";
.fares{
    margin: 7% 5% 7% 8%;
}
.btn.btn-primary{
    height: 36px;
    border: none;
    width: 100%;
    border-radius: 20px;
    color: #FDFDFD;
    background-color: #20A2AA;
}
.btn.btn-primary:hover{
    background-color: #002628;
}
.title-fare{
    color: #002628;
    font-weight: 600;
}
.horizontal-line {
    display: flex;
    align-items: center;
    margin: 10px 0 ;
}
.line {
    flex: 1;
    border-top: 3px solid rgba(51, 51, 51, 0.5);
}
.required-asterisk {
    color: red;
    margin-left: 3px; 
}
.success-message{
    background-color: #61c361;
}

