*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.modal-dialog{
  max-width: 50% !important;
}
body{
  background-color: #f5f5f5;
}
.wrapper{
    width: 100%;
    height: 100%;
}
  
.top_navbar{
    background-image: linear-gradient(144deg,#002628, #106469 50%,#20A2AA);
    height: 60px;
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
.hamburger .nav-icon img{
    width: 40px;
    height: 40px;
    margin:8px;
}

.top_navbar .menu{
  width: calc(100% - 80px);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.side-active{
    background-color: #fdfdfd;
}


.top_navbar .menu .logo{
  color: #20A2AA;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
}

.top_navbar .menu .right_menu ul{
  display: flex;
}

.top_navbar .menu .right_menu ul li{
  position: relative;
  margin-top: 14px;
}

.top_navbar .menu .right_menu ul li .fas{
  font-size: 22px;
  cursor: pointer;
  color: #004D40;
}

.top_navbar .menu .right_menu ul li .profile_dd{
  position: absolute;
  top: 35px;
  right: -10px;
  background: #fff;
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
  padding: 10px 0;
  width: 180px;
  border-radius: 3px;
  display: none;
  user-select: none;
  z-index: 1000;
}

.top_navbar .menu .right_menu ul li .profile_dd.active{
  display: block;
}

.top_navbar .menu .right_menu ul li .profile_dd .dd_item{
  padding: 10px;
  cursor: pointer;
  color: #002628;
  
}
.top_navbar .menu .right_menu ul li .profile_dd .dd_item{
    text-decoration: none;
    color: #002628;
    width: 100%;
}

.top_navbar .menu .right_menu ul li .profile_dd .dd_item:hover{
  background: #002628;
  color: #fdfdfd;
}


.top_navbar .menu .right_menu ul li .profile_dd:before{
  content: "";
  position: absolute;
  top: -20px;
  right: 10px;
  border: 10px solid;
  border-color: transparent transparent #fff transparent;
}

.main_container .sidebar{
  position: fixed;
  top: 60px;
  left: 0;
  width: 300px;
  height: 100%;
  background: #002628;
  transition: all 0.3s ease;
}

.main_container .sidebar .sidebar__inner{
  position: relative;
}

.main_container .sidebar .profile{
  display: flex;
  align-items: center;
  color: #fff;
  padding: 20px 0;
  white-space: nowrap;
  transition: all 0.3s ease;
}

.main_container .sidebar .profile .img{
  padding: 0 18px;
}

.main_container .sidebar .profile img{
  width: 45px;
  border-radius: 50%;
}

.main_container .sidebar .profile p:first-child{
  font-size: 14px;
  color: #80CBC4;
  margin-bottom: 3px;
}


.main_container .container{
  margin-top: 60px;
  width: calc(100% - 225px);
  margin-left: 225px;
  padding: 30px;
  transition: all 0.3s ease;
}

.main_container .sidebar ul li a{
  color: #fdfdfd;
  font-size: 16px;
  padding: 5px 32px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  margin-bottom: 1px;
  transition: all 0.3s ease;
  margin: 8px;
}

.main_container .sidebar ul li a .icon{
  margin-right: 20px;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.main_container .sidebar ul li a span{
  display: inline-block;
  color: #fdfdfd
}

.main_container .sidebar ul li a:hover{
    border: 1px solid #20A2AA !important;
}

.side-active{
    border: 1px solid #20A2AA !important;
    background: #20A2AA!important;
    color: #fdfdfd;
}


/* after adding active class */
.wrapper.active .sidebar{
  width: 80px;
}

.wrapper.active .sidebar ul li a span.title,
.wrapper.active .profile_info
{
  display: none;
}

.wrapper.active .main_container .container{
  width: calc(100% - 80px);
  margin-left: 80px;
}
